*{
    margin: 0;
}

body{
    background-color: hsl(225, 100%, 94%);
}

.wave{
    width:120%;

    position: absolute;
    top: 610px;
    left: 0;
    animation: wave linear 7s infinite alternate;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: absolute;
    min-height: 150%;
    min-width: 50%;
    background-color: white;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px -1px #BCC3C4;
   /* padding: 20px; */
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.item img{
    width: 70px;
    height: 50px;
}

h5{
    margin: 20px;
    font-family: 'Public sans' , sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Public sans' , sans-serif;
    color: hsl(233, 26%, 24%);
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sport{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 1000px;
}

.abonnement{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.item{
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 2%;
    color: hsl(233, 26%, 24%);
    background-color:  hsl(0, 0%, 98%);
    box-shadow: -4px 6px 10px -4px #BCC3C4;
}

.item:hover{
    cursor: pointer;
    transform: scale(1.05);
}

input[type=checkbox]{
    cursor: pointer;
    color:hsl(233, 26%, 24%) ;
    width: 70px;
}

button {
    margin: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'Public Sans', sans-serif;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: hsl(233, 26%, 24%);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: hsl(233, 26%, 24%);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


@keyframes wave{
    0%{
        transform: translateX(0);
    }
   
    100%{
        transform: translateX(-22%);
    }
}