
body{
    background-image: linear-gradient(#77dd66, #8fe381, #a7e99c, #bfeeb7, #d7f4d2);
    animation: background 7s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@keyframes background{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.card{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 30%;
    padding: 50px;
    border-radius: 2%;

    animation: slide 1s ease-in-out;
    
}

@keyframes slide{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: skew(0deg);
    }
}

h1{
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 26%, 24%);
}

img{
    width: 70%;
    height: auto;
    object-fit: contain;
}

p{
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 8%, 62%);
    margin: 10px;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 0.6rem;
   }
   
   button:hover {
    background-color: #2EE59D;
    background: -webkit-linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    margin-top: 2.5rem;
   }
   
   button:active {
    transform: translateY(-1px);
   }